version: "3"

services:
  hive-server:
    image: lenchv/hive:2.3.6
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    command: /opt/apache-hive-2.3.6-bin/bin/hiveserver2
    hostname: HOSTNAME_VALUE
    volumes:
      - ./confs/hive-site.xml:/opt/apache-hive-2.3.6-bin/conf/hive-site.xml
      - ./ssl/:/opt/ssl/
  hive-metastore:
    image: lenchv/hive:2.3.6
    hostname: HOSTNAME_VALUE
    ports:
      - "9083:9083"
    volumes:
      - ./confs/hive-site.xml:/opt/apache-hive-2.3.6-bin/conf/hive-site.xml
      - ./ssl/:/opt/ssl/
    command: /opt/apache-hive-2.3.6-bin/bin/hive --service metastore
